<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="/round-icon.webp" type="image/x-icon" />
    <link rel="stylesheet" href="/css/output.css" />
    <title><%= title %></title>
  </head>
  <body class="bg-[#242424] text-gray-400">
    <nav class="p-4 bg-[#2b2b2b] flex justify-between items-center">
      <header class="flex items-center gap-4 cursor-pointer">
        <img src="/round-icon.webp" alt="logo" class="w-10 h-10 rounded-full" />
        <h1 class="font-bold text-lg">REST CRUD API</h1>
      </header>
      <ul class="flex gap-4 font-semibold">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
        <li>
          <a href="/signup">Sign Up</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
